:root{
    /* colours */
    --color-text: #fff;
    --color-bg: #04152d;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;

    /* fonts */
    --font-robot: 'Roboto';
}